body{
	font-family: $font1;
	background-color: white;
}

h1{
	font-family: $font2;
	font-size: rem(24);
	margin: 0;
	display: inline;
	padding: 10px;

}

h2{
	font-family: $font2;
	font-size: rem(16);
	margin: 0;
	display: inline;
	padding: 10px;

}
p{
	font-family: $font2 ;
	padding: 10px;
}
.container{
	max-width: var(--bessels);
    margin: auto;
}