*{
	box-sizing: border-box;
	font-family: $font1;
}

html{
	height: 100vh;
}

body{
	font-family: $font1;
	margin: 0;
}


figure{
	margin: 0;
}

a{
	text-decoration:none;
}

a:not([href]){
	pointer-events: none;
}

span, small{
	font-family: $font3;
	font-size: rem(24);
	margin: 0;
	display: inline;
}


p{
	font-family: $font2 ;
	padding: 5px;
}

.container{
	max-width: var(--bessels);
    margin: auto;
}

.body-back-office{
	padding: 30px;
	display: flex;
	height: 100%;
	width: 100%;
	max-height: 100vh;

	& main{
		flex-grow: 1;
	}
}

.body-setup{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;

	& main{
		z-index: 1;
	}
}

#back-office-container{
	z-index: 2;
	position: relative;
	height: 100%;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.light{
	font-weight: 300;
}

.medium{
	font-weight: 500;
}

.bold{
	font-weight: bold;
}


//reponsive tablet
@media (max-width: 992px){

	.body-back-office{
		position: relative;
		padding: 0;
	}
}
