

$black: #000;
$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;
$container-width: 1200px;

:root {
    // colors
    //--main-color: #121212;
    --second-color: #777777;
    --third-color: #B6B6B6;
    --background-color: white;

    // others
    --bessels: 1200px;
    --shadow: 0px 0px 15px rgba(0, 0, 0, 0.78);
    //--radius: 0px;
}

