.background-container-back-office{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	overflow: hidden;

	&--go{
		position: fixed;
	}

	& div{
		position: absolute;
		width:  1500px;
		height: 1500px;
		filter: blur(50px);
	}

	& div:nth-child(1){
		left: -186px;
		top: -85px;

		background: linear-gradient(180deg, rgba(var(--third-color-rgb), 0.13) 0%, var(--third-color) 100%);
	}
	& div:nth-child(2){
		left: 1588.1px;
		top: 1606.58px;
		left: 900.1px;
		top: 58.58px;

		background: linear-gradient(180deg, rgba(var(--main-color-rgb), 0.13) 0%, var(--main-color) 100%);
		transform: rotate(-141.76deg);
	}

	& div:nth-child(3){
		left: 1296.89px;
		top: 419.6px;

		background: linear-gradient(180deg, rgba(var(--second-color-rgb), 0.13) 0%, var(--second-color) 100%);
		transform: rotate(152.34deg);
	}
	& div:nth-child(4){
		z-index: 1;
		left: 0px;
		top: 0px;
		width: 100vw;
		height: 100vh;
		background: rgba(135, 116, 116, 0.2);
		box-shadow: inset 0px 0px 250px rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(60px);
	}
}
