

//reponsive tablet & mobile
@media (max-width: 992px){
	.burger-menu-container{
		width: 100%;
		position: relative;
		& button{
			display: flex;
		}

		& nav {
			display: none!important;
			opacity: 1;
			position: absolute;
			flex-direction: column;
			border-radius: 10px;
			transition: all 0.3s;
			top: calc(100% + 10px);
			min-width: 230px;
			backdrop-filter: blur(60px);
			background: rgba(181, 181, 181, 0.4);
			&.open{
				display: flex!important;
			}

			& a {
				backdrop-filter: blur(60px);
				margin: 0;
				padding: 20px!important;
				border-bottom: $dark-grey 2px solid!important;
				border-radius: 0;
				margin-left: 0px!important;
				background: unset;
				box-sizing: unset!important;

				&:hover{
					background: rgba(181, 181, 181, 0.6);
				}
			}

			& > :first-child {
				border-top: 0px;
				border-radius: 10px 10px 0px 0px!important;
			}

			& > :last-child {
				border-bottom: $dark-grey 0px solid!important;;
				border-radius: 0px 0px 10px 10px!important;
			}
		}
	}

}