.cta-button{
	color: var(--main-color);
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 10px;
	border: none;
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: unset;

	& .material-icons-round{
		margin-right: 8px;
		font-size: rem(20);
	}

	&--text-icon{
		background: rgba(255, 255, 255, 0.3);
		font-size: rem(16);

		&:hover{
			background: rgba(255, 255, 255, 0.6);
		}
	}

	&--menu{
		font-size: rem(14);
		font-weight: 500;
		border-radius: 60px;
		width: 275px;
		padding: 10px;
		margin-top: 50px;

		&.selected{
			background-color: rgba(129, 129, 129, 0.3);

			&:hover{
				background: rgba(129, 129, 129, 0.3);
			}
		}

		&:hover{
			background: rgba(255, 255, 255, 0.6);
		}
	}

	&--icon{
		background-color: unset;
		&:hover{
			background: rgba(255, 255, 255, 0.6);
		}

		& .material-icons-round{
			margin-right: 0px;
		}
	}
}

//reponsive tablet
@media (min-width: 768px) and (max-width: 992px){
	.cta-button{

		&--menu{
			width: 305px;
			flex-grow: 1;

			margin-top: 15px;
			background-color: rgba(129, 129, 129, 0.3);

			&.selected{
				background-color: var(--main-color);
				color: #AFBCC3;

				&:hover{
					background-color: var(--main-color);
				}
			}

			&:hover{
				background: rgba(255, 255, 255, 0.6);
			}
		}

	}
}