.container-main-content{
  border-radius: 20px;
  width: 100%;

  &--padding{
    padding: 19px;
  }

  &--menu{
    position: absolute;
    top: 0;
    let: 0;
    display: flex;
    height: 100%;

    & .menu-container{
      backdrop-filter: blur(60px);
      background-color: rgba(129, 129, 129, 0.3);
      padding: 30px 50px;
      border-radius: 20px 0px 0px 20px;
    }

    & > section{
      background-color: var(--background-color);
      padding: 30px 50px;
      flex-grow: 1;
      border-radius: 0px 20px 20px 0px;

      & > header{
        display: flex;
        justify-content: space-between;

        & button .material-icons-round{
          font-size: rem(30);
          font-weight: bolder;
        }
      }
    }
  }
}


//reponsive tablet
@media (min-width: 768px) and (max-width: 992px){
  .container-main-content {
    border-radius: 0px;

    &--menu {
      position: absolute;
      top: 0;
      let: 0;
      display: flex;
      flex-direction: column;


      & .menu-container {
        backdrop-filter: blur(60px);
        background-color: rgba(129, 129, 129, 0.3);
        padding: 27px 40px;
        border-radius: 0px;

        & nav{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }

      & > section {
        padding: 27px 40px;
        border-radius: 0px;

      }
    }
  }
}

//responsive mobile
@media (max-width:768px) {

}