.container-main-content{
  border-radius: 20px;
  width: 100%;

  &--padding{
    padding: 19px;
    background-color: var(--background-color);
    height: calc(100% - 73px - 1.25rem);
  }

  &--dashboard {
    & .row {
      height: 100%;
      & .card {
        height: calc(100% - 38px);
      }
      & .col-4 {
        height: 60%;
      }
      & > :nth-child(1) {
        height: 40%;
      }
      & > :nth-child(2) {
        height: 40%;
      }
      & > :nth-child(3) {
        height: 40%;
      }
      & > :nth-child(4) {
        height: 40%;
      }

      & > :nth-child(7) {
        & > :nth-child(1) {
          height: calc(60%);
        }
        & > :nth-child(2) {
          height: calc(40% - 57px);
        }
      }
    }
  }

  &--menu{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;

    & .menu-container{
      backdrop-filter: blur(60px);
      background-color: rgba(129, 129, 129, 0.3);
      padding: 30px 50px;
      border-radius: 20px 0px 0px 20px;
    }

    & > section{
      background-color: var(--background-color);
      padding: 30px 50px;
      flex-grow: 1;
      border-radius: 0px 20px 20px 0px;

      & > header{
        display: flex;
        justify-content: space-between;

        & button .material-icons-round{
          font-size: rem(30);
          font-weight: bolder;
        }
      }
    }
  }
}


//reponsive tablet & mobile
@media (max-width: 992px){
  .container-main-content {
    border-radius: 0px;

    &--padding{
      padding: 5px;
      height: unset;
      min-height: calc(100% - 73px - 1.25rem);
    }

    &--menu {
      position: absolute;
      top: 0;
      let: 0;
      display: flex;
      flex-direction: column;


      & .menu-container {
        backdrop-filter: blur(60px);
        background-color: rgba(129, 129, 129, 0.3);
        padding: 27px 40px;
        border-radius: 0px;

        & nav{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          & button:nth-child(odd) {
            margin-right: 25px;
          }
        }
      }

      & > section {
        padding: 27px 40px;
        border-radius: 0px;

      }
    }

    &--dashboard {
      & .row {
        height: unset;
        & .card {
          height: unset;
        }
        & .col-4 {
          height: unset;
        }
        & > :nth-child(1) {
          height: unset;
          flex-grow: 4;
        }
        & > :nth-child(2) {
          height: unset;
          flex-grow: 4;
        }
        & > :nth-child(3) {
          height: unset;
          flex-grow: 4;
        }
        & > :nth-child(4) {
          height: unset;
          hflex-grow: 4;
        }

        & > :nth-child(7) {
          & > div{
            height: unset!important;
            flex-grow: 1!important;
          }
        }
      }
    }
  }
}
