.input-container{
	margin-bottom: 25px;
	position: relative;
	display: flex;
	flex-direction: column;

	& label{
		color: $black;
		font-weight: 600;
		font-size: rem(14);
		margin: 0;
		margin-bottom: 5px;
	}
	& .input{
		width: 100%;
		background-color: $lighter-grey!important;
		color: $black;
		transition: all 0.3s;
		border-radius: var(--radius, 5px);
		border: none;
		padding: 10px;
		font-size: rem(14);
		font-weight: 400;
		&::placeholder{
			color: var(--main-color)!important;
		}
	}

	.input--error{
		color: red;
		position: absolute;
		bottom: -15px;
		font-size: 12px;
	}
}
