.title{

	display: block;
	margin-block-start: unset;
	margin-block-end: unset;
	margin-inline-start: unset;
	margin-inline-end:unset;
	font-weight: unset;
	margin: 0;

	&--main-color{
		color: var(--main-color);
	}

	&--second-color{
		color: var(--second-color);
	}

	&--black{
		color: $black;
	}

	&--white{
		color: $white;
	}

}

h1{
	font-family: $font1;
	font-size: rem(24);
	font-weight: 600 !important;
	display: inline;
}

h2{
	font-family: $font1;
	font-size: rem(18);
	font-weight: 800!important;
	display: inline;
}