.module{
  position: relative;
  //height: min-content;
}

.section-module{
  position: relative;
  height: min-content;

  &--on{
    z-index: 2;
  }
}

.editable-module{
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -5px;
  left: -5px;

  button{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
  }

  & .action-print{
    color: var(--main-color);
  }

  &--tool-bar{
    background: rgba(129, 129, 129, 0.3);
    box-shadow: inset 0px 0px 250px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(60px);
    border-radius: var(--radius, 8px);
    display: flex;
    right: 5px;
    position: absolute;
    top: -55px;
    transition: all 3ms;

    & .sp-replacer {
      border: none;
      width: 20px!important;
      height: 20px!important;
      border-radius: 20px;
    }

    .input{
      width: 100%;
      background-color: #EBEBEB !important;
      color: var(--text-color, black);
      transition: all 0.3s;
      border-radius: var(--radius, 5px);
      border: none;
      padding: 10px;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  &--border{
    border : 3px rgba(129, 129, 129, 0.3) solid;
    box-shadow: inset 0px 0px 250px rgba(255, 255, 255, 0.25);
    border-radius: var(--radius, 5px);
    height: 100%;
    width: 100%;
  }

  &--footer-nav{
    display: flex;
    justify-content: center;
    bottom: 60px;
    bottom: calc(-100% + -1px);
    position: relative;

    button{
      background: rgba(129, 129, 129, 0.3);
      box-shadow: inset 0px 0px 250px rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(60px);
      border-radius: var(--radius, 8px);
    }
  }
}



