


.gris-background{
	background-color:#DFDFDF;
}
.gris-claire-background{
	background-color:#ECECEC;
	color: #fff;
}
.bleu-claire-background {
	background-color:#55A6D3;
	color: #fff;
}
.bleu-fonce {
	color:#396075;
}
.bleu-fonce-background {
	background-color: #396075;
	color: #fff;
}
.blanc-claire-background {
	background-color: #fff;
	color: #55A6D3;
}

.blanc-fonce-background {
	background-color: #fff;
	color: #396075;
}
