.gris-background{
	background-color:#DFDFDF;
}
.gris-claire-background{
	background-color:$grey-light;
	color: var(--background-color);
}
.bleu-claire-background {
	background-color: var(--second-color);
	color: var(--background-color);
}
.main-color {
	color:var(--main-color);
}
.main-color-background {
	background-color: var(--main-color);
	color: var(--background-color);
}

.second-color-background-default{
	background-color: var(--background-color);
	color: var(--second-color);
}

.main-color-background-default{
	background-color: var(--background-color);
	color: var(--main-color);
}

