.body{
  position: relative;
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 15rem;
  min-height: 100%;
}

.body-small, .body-medium, .body-big{
  & .background-container-back-office{
    z-index: -0;
    top: -15px;
    width: 100%;
  }
}

.body-small{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
}
.body-medium{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);
}
.body-big{
  width: 100%;
  background-color: var(--background-color);
}

.body-go{
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-color);
  max-width: calc(100% - 20px);
}