// composants
.card {
    background-color: $grey;
    border-radius: var(--radius, 20px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    margin: 19px;

    & div{
        width: 100%;

        & .cta-button {
            color: var(--main-color);
            cursor: pointer;
            transition: all 0.3s;
            border-radius: var(--radius, 10px);
            border: none;
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: unset;
            font-size: rem(18);
            font-weight: 500;
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: var(--radius, 10px);
            background-color: var(--main-color);
            color: white;

            &:hover {
                background-color: var(--second-color);
            }
        }
    }

    &--bottom{
        display: flex;
        justify-content: end;

        header{
            .material-icons-round {
                font-size: rem(46)!important;
                line-height: rem(56)!important;
            }
        }
    }
    
    & button {
        border: none;
        outline: none;
        display: flex;
        background: transparent;
        align-self: flex-end;
        padding: 0;
        cursor: pointer;
    }

    & .material-icons-round {
        color: #FFFFFF;
    }

    & header {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        font-weight: 600;
        &  h4, .material-icons-round {
            margin: 0;
            font-size: rem(48);
            line-height: rem(56);
            display: flex;
            align-items: center;
            letter-spacing: 0.005em;
            color: var(--background-color, white);
        }
        & h3, .material-icons-round {
            margin: 0;
            font-size: rem(24);
            line-height: rem(28);
            display: flex;
            align-items: center;
            letter-spacing: 0.005em;
            color: var(--background-color, white);
        }
    }
    & .edge-container {
        width: 75px;
        height: 97px;
        background: rgba(57, 96, 117, 0.5);
        border-radius: 20px;
        & p {
            margin: 0;
            padding: 0;
            text-align: center;
            color: white;
            font-weight: 600;
            font-size: rem(14);
        }
    }
    & .edge {
        width: 75px;
        height: 75px;
        background-color: var(--main-color, #396075);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & .material-icons-round {
            font-size: rem(60);
        }
        & img {
            width: 45px;
            height: 45px;
        }
    }

    &--background-main-color {
        background-color: var(--main-color, #D8D8D8);

        & label{
            color: var(--background-color)!important;
        }

        & .cta-button {
            color: var(--background-color) !important;
            background-color: var(--second-color) !important;

            &:hover{
                background-color: var(--background-color) !important;
                color: var(--second-color) !important;

            }
        }
    }

    &--bigcard {
        justify-content: space-between !important;
        & header {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-self: stretch !important;
            & h3, .material-icons-round {
                color: #396075 !important;
            }
        }
    }
    &--smallcard {
        //height: 152px !important;
        background: rgba(57, 96, 117, 0.5) !important;
        flex-direction: row;
        //align-items: flex-start;
    }
    #regions_div rect{
        fill: none;
    }

    // charts

    & #chartDonut {
        //height: 88%!important;
        //width: unset!important;
        margin-bottom: 30px;
    }

    & .table-container {
        margin-top: 6px;
        margin-bottom: 6px;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}


//reponsive tablet & mobile
@media (max-width: 992px){
    .card {
        margin: 9px;
        padding: 15px;
        border-radius: var(--radius, 15px);
        min-height: 120px;

        & .material-icons-round {
            color: #FFFFFF;
            font-size: rem(20);
        }

        & header {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            &  h4, .material-icons-round {
                margin: 0;
                font-size: rem(20);
                line-height: rem(21);
            }
            & h3, .material-icons-round {
                margin: 0;
                font-size: rem(20);
                line-height: rem(21);
            }
        }
    }
}