// composants
.card {
    background-color: rgba(216,216,216, 0.5);
    border-radius: var(--radius, 20px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    margin: 19px;
    
    & button {
        border: none;
        outline: none;
        display: flex;
        background: transparent;
        align-self: flex-end;
        padding: 0;
        cursor: pointer;
    }
    & i {
        color: #FFFFFF;
        font-size: rem(35);
    }

    & header {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        &  h4 {
            margin: 0;
            font-style: normal;
            font-weight: bold;
            font-size: rem(48);
            line-height: rem(56);
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
        & h3 {
            margin: 0;
            font-style: normal;
            font-weight: 900;
            font-size: rem(24);
            line-height: rem(28);
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
    }
    & .edge-container {
        width: 75px;
        height: 97px;
        background: rgba(57, 96, 117, 0.5);
        border-radius: 20px;
        & p {
            margin: 0;
            padding: 0;
            text-align: center;
            color: white;
            font-style: normal;
            font-weight: bold;
            font-size: rem(14);
        }
    }
    & .edge {
        width: 75px;
        height: 75px;
        background-color: var(--main-color, #396075);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        & i {
            font-size: rem(60);
        }
    }

    // modificateurs
    &--bottom {
        justify-content: flex-end !important;
        gap: 55px;
    }
    &--background-main-color {
        background-color: var(--main-color, #D8D8D8);
    }

    &--bigcard {
        justify-content: space-between !important;
        & header {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-self: stretch !important;
            & h3, i {
                color: #396075 !important;
            }
        }
    }
    &--smallcard {
        //height: 152px !important;
        background: rgba(57, 96, 117, 0.5) !important;
        flex-direction: row;
        align-items: flex-start;
    }
    // a changer
    & .material-icons--big-icon {
        font-size: rem(65) !important;
    }
    //a changer
    & .button--newslatter-only {
        align-self: center !important;
    }

    #chartBar{
        max-width: 100%;
    }

    // charts

    & #chartDonut {
        width: 100% !important;

        margin-bottom: 30px;
    }
}
