.dataTables_wrapper {
    width: 100%;
    height: 90%;
    overflow: hidden;

    & > .dataTables_scroll {
        height: 100%;
        & > .dataTables_scrollBody {
            height: 100%;
            border-radius: 20px;
            font-family: $font3;
        }
    }
}

thead, tfoot {
    display:none;
}

.dataTablesCol1 {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
}
.dataTablesCol2 {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
}

