.table {
    width: 100%;
    border-collapse: inherit;
    overflow: hidden;
    border: solid -2px #E2E2E2;
    border-radius: 15px;
    margin: 0;
    padding: 15px;

    & thead{
        tr{
            border: none!important;

            td{
                border: none!important;
            }
        }
    }

    & tbody{
        width: 100%;
    }
    & tr {
        display: flex;
        justify-content: space-between;
        color: #6D6D6D;
        border-bottom: solid 2px #E2E2E2;
        border-top: solid 2px #E2E2E2;
        border-right: solid 4px #E2E2E2;
        border-left: solid 4px #E2E2E2;
        padding: 10px;
        background-color: var(--background-color);
    }



    & td {
        display: flex;
        align-items: center;
    }

    tr:last-child{
        border-bottom: solid 4px #E2E2E2;
        border-radius: 0 0 15px 15px;
    }

    tr:first-child{
        border-top: solid 4px #E2E2E2;
        border-radius: 15px 15px 0 0;
    }

    &--lite {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 0px !important;

        & tr {
            padding: 0px 4px !important;

            border-right: solid 4px #E2E2E2;
            border-left: solid 4px #E2E2E2;
        }
    }
}